<div class="col-lg-2 bg-dark text-white min-vh-100">

    <div class="p-3">

        <h5>منو</h5>

        <hr>

        <ul class="nav flex-column">

            <li class="nav-item">
                <a class="nav-link text-white" href="/">🏠 داشبورد</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white" href="#">🌱 مزارع</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white" href="#">🌾 محصولات</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white" href="#">🚜 عملیات</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white" href="#">📦 انبار</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white" href="#">✅ کیفیت</a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white" href="#">📊 گزارش‌ها</a>
            </li>

        </ul>

    </div>

</div>