<aside class="dashboard-sidebar">

    <div class="sidebar-header">

        <div class="sidebar-logo">
            🌱
        </div>

        <div>
            <div class="sidebar-title">
                Smart ASIGI Farm
            </div>

            <div class="sidebar-subtitle">
                مدیریت هوشمند
            </div>
        </div>

    </div>


    <div class="sidebar-menu">

        <a
            href="/dashboard/"
            class="sidebar-item"
        >
            <i class="bi bi-speedometer2"></i>
            <span>داشبورد</span>
        </a>


        <a
            href="#"
            class="sidebar-item"
        >
            <i class="bi bi-tree"></i>
            <span>مزارع</span>
        </a>


        <a
            href="/maps/"
            class="sidebar-item"
        >
            <i class="bi bi-geo-alt"></i>
            <span>نقشه</span>
        </a>


        <a
          href="{% url 'crops:crop_list' %}"
          class="sidebar-item"
        >
        <i class="bi bi-flower1"></i>
        <span>محصولات</span>
        </a>


        <a
            href="#"
            class="sidebar-item"
        >
            <i class="bi bi-truck"></i>
            <span>عملیات</span>
        </a>


        <a
            href="#"
            class="sidebar-item"
        >
            <i class="bi bi-box-seam"></i>
            <span>انبار</span>
        </a>


        <a
            href="#"
            class="sidebar-item"
        >
            <i class="bi bi-check2-square"></i>
            <span>کیفیت</span>
        </a>


        <a
            href="#"
            class="sidebar-item"
        >
            <i class="bi bi-bar-chart"></i>
            <span>گزارش‌ها</span>
        </a>

    </div>


    <div class="sidebar-bottom">

        <a href="/admin/" class="sidebar-item">
            <i class="bi bi-gear"></i>
            <span>مدیریت سیستم</span>
        </a>

    </div>

</aside>