{% extends "base.html" %}

{% block content %}

<h2 class="mb-4">

داشبورد مدیریت مزرعه

</h2>

<div class="row">

    <div class="col-md-3">

        <div class="card shadow">

            <div class="card-body">

                <h5>مزارع</h5>

                <h2>12</h2>

            </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card shadow">

            <div class="card-body">

                <h5>قطعات</h5>

                <h2>145</h2>

            </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card shadow">

            <div class="card-body">

                <h5>برداشت امروز</h5>

                <h2>1850 kg</h2>

            </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card shadow">

            <div class="card-body">

                <h5>انبار</h5>

                <h2>25 Ton</h2>

            </div>

        </div>

    </div>

</div>

{% endblock %}